html, body { padding: 0; margin: 0; }
#wrap {
	width: 800px;
	height: 500px;
	background-color: green;
}
#header {
	height: 100px;
	position: relative;
}
#score {
	left: 0px;
	top: 0px;
}
#timer {
	top: 0px;
	right: 0px;
}
#timer  div {
	font-size: 40pt;
	font-weight: bolder;
	text-align: center;
}
#content {
	background-color: #eee;
	height: 400px;
	border: 1px solid #000;
	position: relative;
}


.box {
	position: absolute;
	width : 100px;
	height: 100px;
	border: 1px solid #fff;
	padding: 0px;
	margin: 0px;
	background-color: blue;
	color: #fff;
	display: block;
}

.balloon {
	position: absolute;
	width : 50px;
	height: 50px;
	/*background-color: #456245;*/
	background-image: url('../bolloon_stripe.png');
}
